colorama==0.4.6
numpy==2.4.4
packaging==26.1
paramiko==5.0.0
scipy==1.17.0
pyadi-iio==0.0.20
pylibiio==0.25
pyqtgraph==0.14.0
PySide6==6.11.0
PySide6_Addons==6.11.0
PySide6_Essentials==6.11.0
QtPy==2.4.3
shiboken6==6.11.0
